@page
@model IndexModel
@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Oficina</h1>
    <p>Teste de Aplicação com ASP.NET Core Razor Pages</p>
</div>

<h1>Lista de Países</h1>

@if (Model.Paises?.Count > 0)
{
    <div style="display: flex; flex-wrap: wrap;">
        @foreach (var pais in Model.Paises)
        {
            <div style="border: 1px solid #ccc; margin: 10px; padding: 10px; width: 200px;">
                <img src="@pais.FlagUrl" alt="Bandeira de @pais.OfficialName" width="100" />
                <p><strong>@pais.OfficialName</strong></p>
                <p>Código: @pais.Cca2</p>
                <a asp-page="/Infopais" asp-route-cod="@pais.Cca2">Ver Info</a>
            </div>
        }
    </div>
}
else
{
    <p>ERRO : não temos lista </p>
}
