@page
@model InfodragonballModel
@{
}


<h1>@Model.Personagem.name</h1>
<p><strong>@Model.Personagem.description</strong></p>
<p><strong>@Model.Personagem.affiliation</strong></p>
<img src="@Model.Personagem.image" alt="@Model.Personagem.name" style="width:100%" />